.mainTitle {
  font-size: 28px; /* 현재 크기에 맞게 조정 */
  font-weight: bold;
  letter-spacing: 0.08em; /* 글자 간격 추가 */
  text-align: center;
  line-height: 1.4; /* 줄 간격 조정 */
  color: #ffdbff; /* 부드러운 보라색 톤 */

  /* 글로우 효과 */
  text-shadow: 0 0 5px #ffafcc, 0 0 10px #ffafcc, 0 0 15px #ff66a1,
    0 0 20px #ff66a1, 0 0 25px #ff1e56;

  animation: glow 1.5s infinite alternate;
}

/* 부드럽게 빛나는 애니메이션 */
@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ffafcc, 0 0 10px #ffafcc, 0 0 15px #ff66a1;
  }
  100% {
    text-shadow: 0 0 10px #ff66a1, 0 0 20px #ff66a1, 0 0 30px #ff1e56;
  }
}

.button_section {
  min-width: 70px;
  display: flex;
  justify-content: center;
}

.img_section {
  display: flex; /* 플렉스 컨테이너 설정 */
  justify-content: center; /* 가로축 가운데 정렬 */
  align-items: center; /* 세로축 가운데 정렬 (선택 사항) */
  height: 100%; /* 부모 높이를 설정해야 align-items가 적용됨 */
}
