.Button {
  background-color: #674a8c;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_START {
  background-color: #674a8c;
  color: white;
}

.Button_SHUFFLE {
  background-color: #674a8c;
  color: white;
}
