/* 부모 요소인 .cardImage_section을 가운데 정렬 */
.cardImage_section {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 (필요하면 추가) */
  margin-top: 20px; /* 위쪽 여백 */
  margin-bottom: 40px;
}

.cardImage_section img {
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 15px 5px rgba(255, 182, 193, 0.8),
    /* 연핑크 */ 0px 0px 25px 10px rgba(255, 215, 0, 0.6),
    /* 골드 */ 0px 0px 35px 15px rgba(255, 105, 180, 0.5); /* 핫핑크 */
  border: 2px solid #ffd700; /* 황금색 테두리 */
  transition: all 0.3s ease-in-out;
}

.cardImage_section img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 8px rgba(255, 182, 193, 1),
    0px 0px 30px 12px rgba(255, 215, 0, 0.8),
    0px 0px 40px 18px rgba(255, 105, 180, 0.7);
}

@keyframes twinkle {
  0% {
    opacity: 0.2;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.9);
  }
}

.twinkle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(
    circle,
    rgba(255, 215, 0, 1) 10%,
    rgba(255, 255, 255, 0) 80%
  );
  border-radius: 50%;
  animation: twinkle 2.5s infinite alternate ease-in-out;
}

.tarotReading_section {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 (필요하면 추가) */
  flex-direction: column;
  margin-top: 45px; /* 위쪽 여백 */
  background-color: #302b63;
  border: 1px solid #1b1b2f;
  border-radius: 8px;
  color: white;
}

.header_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.header_section h2 {
  font-family: Hardworking_donghee;
  margin-top: 10px;
  font-size: 30px;
  color: white;
}

.cardName_section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "Hardworking_donghee";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/naverfont_06@1.0/Hardworking_donghee.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.cardName_section h3 {
  font-family: Hardworking_donghee;
  font-size: 30px;
  color: #b08fd6;
}

.tarotReading_section p {
  font-family: "Danjo-bold-Regular";
}
