@font-face {
  font-family: "pretendard";
  src: url("/public/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Danjo-bold-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0px;
  width: 100%;
  background: linear-gradient(135deg, #1b1b2f 10%, #302b63 50%, #5d3fd3 90%);

  height: auto;
  display: flex;
}

#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
}

body * {
  font-family: "Danjo-bold-Regular";
}

h1 {
  font-family: "Danjo-bold-Regular";
  color: #ffd1dc;
}
