@font-face {
  font-family: "pretendard";
  src: url("/public/Pretendard-Regular.ttf");
}

@font-face {
  font-family: "Paperlogy-8ExtraBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  margin: 0px;
  width: 100%;
  background: rgb(141, 110, 240);
  background: radial-gradient(
    circle,
    rgba(141, 110, 240, 1) 19%,
    rgba(112, 85, 200, 1) 82%
  );
  height: 100%;
  display: flex;
}

#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
}

body * {
  font-family: "pretendard";
}

h1 {
  font-family: "Paperlogy-8ExtraBold";
  color: aliceblue;
}
