@font-face {
  font-family: "MeetMeScript";
  src: url("/public/온글잎 밑미.ttf");
}

html,
body {
  margin: 0px;
  width: 100%;
  background: rgb(141, 110, 240);
  background: radial-gradient(
    circle,
    rgba(141, 110, 240, 1) 19%,
    rgba(112, 85, 200, 1) 82%
  );
  height: 100%;
  display: flex;
}

#root {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  padding: 0px 20px;
}

body * {
  font-family: "MeetMeScript";
}
